body {

    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
}

main {

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    width: 500px;
}

h1 {

    color: rgb(6, 161, 6);
    margin: 0px;

}

#input {

    display: flex;
    flex-direction: column;

}

label {

    margin-bottom: 5px;

}


#valor, #porcentagem {

    margin-bottom: 10px;
    height: 30px;
    border: 1px solid #a7a5a5;
    border-radius: 2px;
}

button {

    border: none;
    background-color: rgb(6, 161, 6);
    color: #edecec;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
}